/********************************
	FLEXBOX STYLES
********************************/

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main-head {
	flex-shrink: 0;
}

.main-content {
	flex: 1;
}

/**********MEDIA QUERIES*************/




@media (min-width: 769px) {

	.main-head,
	.main-nav,
	.main-content {
		display: flex;
	}

	.main-head {
		flex-direction: column;
		align-items: center;
	}

	.card {
		flex: 1 50%;
	}

	.main-content {
		flex-wrap: wrap;
	}
}

@media (max-width: 1000px) {
	#video .wrapper .box {
		margin: 0 auto;
	}
}


@media (min-width: 1025px) {

	.main-head {
		flex-direction: row;
		justify-content: space-between;
	}



	.card {
		flex-basis: 0;
	}

	.first {
		flex-grow: 1.4;
	}

	.third {
		order: -1;
	}


}

