/****************BASE STYLES*************/

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: #222;
	background: #f7f5f0;
}

ul {
	list-style: none;
}

.main-nav {
  width: 100%;
  max-width: 1200px;
}

section {
	max-width: 600px;
	margin: 0 auto;
}

/***********Links***************/
a {
	text-decoration: none;
	color: #0499ff;
}

a:hover {
	color: #6633ff;
}

nav {
	width: 100%;
	background: coral;
	min-height: 30px;
	padding: 10px;
	position: fixed;
	text-align: center;
}

nav ul {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

nav li {
  padding: 5px 10px 10px 10px;
}

nav a {
  transition: all .5s;
}

.name {
  display: none;
}

header {
  text-align: center;
  background: url('portland.jpg') no-repeat center top;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
  line-height: 1.5;
}

.profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid;
}

.profile-image:hover {
  transform: scale(1.2) rotate(5deg);
}

.tag {
  background-color: #efefef;
  color: black;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
}

/***********MAIN CONTENT*************/











/*********FOOTER STYLES*************/

footer {
	width: 100%;
	min-height: 30px;
	padding: 20px 0 40px 20px;
	font-size: 1.3em;
	max-width: 1200px;
	margin: 40px auto;
}

footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

footer ul li {
	display: inline-block;
}

/************MEDIA QUERIES*************/
@media screen and (min-width: 720px) {
  
  
  header {
    min-height: 450px;
  }
  
  nav {
    max-width: 1200px;
  }
  
  .name {
    display: block;
    margin-right: auto;
    color: white;
  }
  
  section {
    padding-top: 50px;
  }
  
  section p {
    line-height: 1.6em;
  }
  
  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }
   
}